In [97]:
from sklearn.ensemble import RandomForestRegressor
import pandas as pd

In [98]:
data = pd.read_csv(r'C:\Users\soosd\Documents\MCC\Csala\Customer_churn.csv')

In [99]:
data.drop(columns = ['customerID', 'TotalCharges'], inplace = True)

In [100]:
data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,Yes

In [167]:
dummy_variable_columns = ['gender', 'SeniorCitizen','Partner','Dependents','PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod','Churn']

In [168]:
data['MonthlyCharges'] = pd.to_numeric(data['MonthlyCharges'])
print(data.dtypes)

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
Churn                object
dtype: object

In [220]:
def get_dummy_data(dummy_variable_columns, data):
    dummy_data = pd.get_dummies(data, prefix = dummy_variable_columns, columns = dummy_variable_columns, drop_first = True)
    y = dummy_data['Churn_Yes']
    
    dummy_data.drop(columns=['Churn_Yes'], inplace = True)
    #dummy_data.drop(columns=['Churn_No'], inplace = True)
    return y, dummy_data

y, dummy_data = get_dummy_data(dummy_variable_columns, data)

In [232]:
#y.head()
dummy_data.head()

,tenure,MonthlyCharges,gender_Male,SeniorCitizen_1,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,...,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,29.85,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
1,34,56.95,1,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,2,53.85,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,45,42.30,1,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4,2,70.70,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,1,0,1,0

In [222]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import seaborn as sns
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [223]:
X_train, X_test, y_train, y_test = train_test_split(dummy_data, y, test_size=.3, random_state=0)

In [224]:
def get_rf_model(y_train, X_train):
    rf = RandomForestRegressor()
    model=rf.fit(X_train, y_train)
    return model

In [225]:
model_rf = get_rf_model(y_train, X_train);

In [226]:
from sklearn.metrics import mean_squared_error, r2_score

y_pred_test = model_rf.predict(X_test)
y_pred_test = np.round_(y_pred_test, decimals = 0, out = None)
 
print(accuracy_score(y_test, y_pred_test))

0.7818267865593942

In [228]:
arr = np.c_[y_pred_test, y_test]
print('\nPrinting predicted and actual values:\n',arr)

Printing predicted and actual values:
 [[0. 0.]
 [0. 0.]
 [0. 0.]
 ...
 [0. 0.]
 [0. 0.]
 [0. 0.]]

In [229]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred_test)
cm

array([[1387,  173],
       [ 288,  265]], dtype=int64)